body{
    background-color: rgb(209, 209, 98);
}

.title {
    text-align: center;
}
.burgerpic{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding-bottom: 20px;
}

.button1{
    margin: auto;
    width: 50%;
   
    padding: 10px;
}

.button2{
    margin: auto;
    width: 49%;

    
   
    padding: 10px;
}